{% extends 'pi_python/base.html' %}
{% block content %}
    <table style="margin-left: 0; margin-right: auto;">

        <tbody><tr >
            <td><strong>San Antonio Weather:</strong></td>
          {% for line in weather_report %}
            {# Show the first line always, hide the rest #}
                <td style="width: 5%;"><span style="font-size: 2.0rem;">{{ line.icon }}</span></td>
                <td class="align-middle"> {{ line.temperature }} {{ line.description }}</td>
          {% endfor %}
        </tr></tbody>
      </table>


    <!-- <script>
      // Get user's location once when page loads
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
              alert("Lat: " + position.coords.latitude + ", Lon: " + position.coords.longitude);
          });
      }
  </script> -->
  
  <script>
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            alert("Lat: " + position.coords.latitude + ", Lon: " + position.coords.longitude);
  
            const data = new FormData();
            data.append("lat", position.coords.latitude);
            data.append("lon", position.coords.longitude);
  
            fetch("/chatbot/save-location/", {
                method: "POST",
                headers: {"X-CSRFToken": "{{ csrf_token }}"},
                body: data
            });
        });
    }
  </script>
{% endblock content %}